@import "tailwindcss";

@theme {
  --color-wafd-green: #009639;
  --color-wafd-dark: #202324;
  --color-wafd-text: #202324;
  --color-wafd-gray: #505759;
  --color-wafd-blue: #2563EB;
  --color-wafd-blue-dark: #1D4ED8;
  --color-wafd-header: #004945;
  --color-wafd-border: #E5E7EB;
}

body {
  margin: 0;
  background-color: #f9fafb;
}
