@import "tailwindcss";

@theme {
  --color-wafd-green: #009639;
  --color-wafd-blue: #186CE2;
  --color-wafd-dark: #1F2937;
  --color-wafd-text: #4B5563;
  --color-wafd-border: #E5E7EB;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f9fafb; /* Light gray background */
}
